.table{
    border: 3px solid black;
    margin-top: 23px;
    background-color:bisque;
    }

h1{
    text-align: center;
    color:darkblue;
}

.container{
    width: 700px;
padding:20px;
margin-bottom: 40px;
margin-top: 40px;
justify-content: center;
background-color: rgba(236, 183, 159, 0.82);
border: 10px solid brown;
}

#description{
    border: 2px solid brown;
   padding: 10px;
   background-color: rgb(158, 184, 240);
}

body{
   background-color: goldenrod;
} 


